
<li class="nav-item dropdown show">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">System Admin</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-area="SystemAdmin" 
           asp-controller="Participants" 
           asp-action="Index">Participant Management</a>
        <a class="dropdown-item" asp-area="SystemAdmin" 
           asp-controller="ApplicationUsers" 
           asp-action="Index">User Management</a>
        @*Divider*@
        <div class="dropdown-divider"></div>    
        <a class="dropdown-item" asp-area="SystemAdmin" 
                                 asp-controller="Broadcasts"
                                 asp-action="Index">Broadcast Management</a>
        <a class="dropdown-item" asp-area="SystemAdmin"
                                 asp-controller="Folders"
                                 asp-action="Index">Document Management</a>
    </div>   
</li>