@model IEnumerable<
    ComorgApp.Entities.Participant>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card border-light" id="participantTable">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h4 class="text-info">Participants</h4>
        </div>
    </div>
    <div class="card-body scroll">
        <table class="table table-hover table-sm table-responsive-sm">
            <thead>
                <tr>
                    <th>
                        Participant Code
                    </th>
                    <th>
                        Participant Name
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
